<section ng-controller="SpecialController as special" ng-init="special.getAllSpecials()">
  <h1>Daily Specials</h1>
  <!-- todays date: {{ special.todayDate | date: 'dd MM yyyy' }} -->
  11: {{ special.todayDate | date: 'dd MM yyyy' }}
  12: {{ special.specials.date | date: 'dd MM yyyy' }}
    <ul ng-repeat="spec in special.specials | orderBy: 'date'" >
      <!-- <div ng-if="spec.date < special.todayDate"> -->
      1: {{ special.todayDate | date: 'dd MM yyyy' }}
      2: {{ spec.date | date: 'dd MM yyyy' }}
      <!-- <div data-ng-if="spec.date < todayDate"> -->
      <div>
        <br>
        <!-- {{ spec.date | filter: { date: 'dd MM yyyy' } }}
        {{ special.todayDate | filter: { date: 'dd MM yyyy' } }} -->
        <li>
          Date: {{ spec.date | date: 'dd-MM-yyyy' }}
        </li>
        <li>
          Title:{{ spec.title }}
        </li>
        <li>
          Price:{{ spec.price }}
        </li>
        <ul>
          Description: SPEC {{ spec.description }}
          <!-- <li ng-repeat="desc in spec.description">{{ desc }}</li> -->
        </ul>
        <li>
          <button type="button" name="button" ng-click="special.editSpecial(spec._id)">Edit</button>
          <button type="button" name="button" ng-click="special.deleteSpecial(spec._id)">X</button>
        </li>
      </div>
      <br>
    </ul>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1>Create Daily Specials</h1>
  <ul  ng-controller="OrderController as orderCTRL">
    <li>
      Date: <input ng-model="special.special.date" min="special.todayDate" moment-picker="orderCTRL.timeSlot" format="DD-MM-YYYY"> {{ special.special.date | date: 'dd-MM-yyyy' }}
    </li>
    <li>
      Title: <input type="text" ng-model="special.special.title"> {{ special.special.title }}
    </li>
    <li>
      Price: <input type="number" ng-model="special.special.price"> {{ special.special.price }}
    </li>
    <li>
      Description: <input type="text" ng-model="special.special.description"> {{ special.special.description }}
    </li>
    <li>
      <button type="button" name="button" ng-click="special.createSpecial(special.special.date, special.special.title, special.special.price, special.desc)">+</button>
      <button type="button" name="button" ng-click="special.updateSpecial(special.special)">Update</button>
    </li>
  </ul>
</section>
