<!DOCTYPE html>
<html lang="en" ng-app="MastersApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0" />
  <title>Masters</title>
  <!-- <base href="/" /> -->

  <!--build:css css/styles.min.css-->
  <link type="text/css" rel="stylesheet" href="css/styles.css" />
  <!--endbuild-->

  <script src="https://www.gstatic.com/firebasejs/4.1.0/firebase.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.min.js"></script>

  <link href="//rawgit.com/indrimuska/angular-moment-picker/master/dist/angular-moment-picker.css" rel="stylesheet">
  <link href="//rawgit.com/indrimuska/angular-moment-picker/master/dist/themes/material-ui.css" rel="stylesheet">
  <link href="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css" rel="stylesheet">
  <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.js"></script>
  <script src="//cdn.rawgit.com/indrimuska/angular-moment-picker/master/dist/angular-moment-picker.min.js"></script>
  <link href="//cdn.rawgit.com/indrimuska/angular-moment-picker/master/dist/angular-moment-picker.min.css" rel="stylesheet">

  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.js"></script>
  <script src="//rawgit.com/indrimuska/angular-moment-picker/master/dist/angular-moment-picker.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-animate.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-aria.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-messages.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

  <!-- build:js js/app.min.js-->
  <script src="js/router/app.js"></script>

  <script src="js/filters/app.filter.js"></script>
  <script src="js/directives/basket/basket.directive.js"></script>
  <script src="js/directives/order/order.directive.js"></script>
  <script src="js/directives/combo/mealOptions.directive.js"></script>
  <script src="js/directives/combo/comboOrderButton.directive.js"></script>
  <script src="js/directives/header/basketQty.directive.js"></script>
  <script src="js/directives/createProduct/create.directive.js"></script>
  <script src="js/directives/createComboProduct/createCombo.directive.js"></script>

  <script src="js/services/userInfo.service.js"></script>

  <script src="js/factories/main.factory.js"></script>
  <script src="js/factories/auth.factory.js"></script>
  <script src="js/factories/product.factory.js"></script>
  <script src="js/factories/user.factory.js"></script>
  <script src="js/factories/order.factory.js"></script>
  <script src="js/factories/edit.factory.js"></script>

  <script src="js/controllers/main.controller.js"></script>
  <script src="js/controllers/auth.controller.js"></script>
  <script src="js/controllers/product.controller.js"></script>
  <script src="js/controllers/user.controller.js"></script>
  <script src="js/controllers/order.controller.js"></script>
  <script src="js/controllers/edit.controller.js"></script>
  <!-- endbuild -->

  <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
  <script src="https://rawgit.com/d-oliveros/ngSticky/master/lib/sticky.js"></script>

</head>
<body ng-controller="AuthController as auth">

  <div class="masters_homepage none">
    <img src="./images/masters_homepage.png">
  </div>

  <nav sticky class="mainNav">
    <ul>
      <!-- {{auth.admin}} -->
      <li ui-sref="home"><a>Home</a></li>
      <li ui-sref="menu"><a>Menu</a></li>
      <li ui-sref="user({uid: auth.user.uid })"><a>My Order</a> <basket-qty></basket-qty> </li>
      <li ui-sref="users" ><a>Users</a></li>
      <li ui-sref="admin" ><a>Admin</a></li>
      <li ui-sref="contact"><a>Contact</a></li>
      <li ui-sref="about"><a>About</a></li>
      <li ui-sref="login" ng-if="!auth.user"><a>Log in</a></li>
      <li ui-sref="signup" ng-if="!auth.user"><a>Sign Up</a></li>
      <li ui-sref="home" ng-click="auth.signOut()"><a>Sign Out</a></li>
    </ul>
  </nav>

  <div class="siteContainer"
    ng-controller="ProductController as product"
    ui-view>
    </div>

</body>
</html>
