html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(41, 41, 41, 0.004); }

body .masters_homepage {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 1rem 0; }

.mainNav {
  text-align: center;
  border: 1px solid #0288D1;
  background-color: #e3e3e3;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 1;
  line-height: 2rem;
  text-transform: uppercase;
  font-weight: 500;
  color: rgba(41, 41, 41, 0.8); }
  .mainNav li {
    display: inline-block;
    padding: 0 0.75rem; }
  .mainNav .basket-total-container {
    display: inline-block;
    border-radius: 10px;
    background: #f5f0e1;
    width: 30px; }
  .mainNav strong {
    font-weight: 600; }

.asideNav {
  border: 1px solid #0288D1;
  text-align: center;
  position: fixed; }
  .asideNav nav ul li {
    display: block;
    text-align: center;
    margin-top: 3rem;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.5rem;
    letter-spacing: 1;
    line-height: 3rem;
    text-transform: uppercase;
    font-weight: 500;
    color: rgba(41, 41, 41, 0.8); }

.subNavNav {
  text-align: center;
  display: flex; }
  .subNavNav .subNavUl {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; }
  .subNavNav .subNavDiv {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1rem;
    letter-spacing: 1;
    line-height: 3rem;
    text-transform: uppercase;
    font-weight: 500;
    color: rgba(41, 41, 41, 0.8); }
  .subNavNav .pipe {
    font-size: 1.3rem;
    opacity: 0.7; }
  .subNavNav .last {
    display: none; }

aside {
  border: 1px solid #C62828;
  display: inline-block;
  height: 75vh;
  width: 12vw;
  margin-top: 15px;
  padding: 0.5rem;
  vertical-align: top;
  overflow: scroll;
  position: fixed;
  background-color: #f4efe1; }
  aside nav li {
    display: block;
    text-align: center; }

main {
  border: 1px solid #00C853;
  display: inline-block;
  margin-top: 15px;
  margin-left: 12.5vw;
  width: 75%;
  height: 100vh;
  text-align: center;
  background-color: #f4efe1; }

body {
  background-color: #e3e3e3; }

.menuBlocks {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 1;
  border: 1px solid #C62828;
  margin-top: 15px;
  text-align: center;
  background-color: #f4efe1; }
  .menuBlocks p {
    width: 25vw;
    height: 35vh;
    display: inline-block;
    border: 1px solid #00C853;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    display: inline-flex; }

.mainMenuDiv {
  display: inline-flex;
  flex-wrap: wrap;
  border: 1px solid #C62828;
  justify-content: center;
  text-align: center;
  margin-top: 15px; }
  .mainMenuDiv .menuDiv {
    border: 1px solid #00C853;
    margin: 1rem;
    flex-shrink: 0;
    min-width: 15vw;
    min-height: 23vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    display: inline-flex; }

.productDiv {
  display: flex;
  flex-wrap: wrap;
  min-width: 20vw; }
  .productDiv .productUl {
    border: 1px solid #0288D1;
    display: inline-flex;
    min-height: 15vh;
    min-width: 15vw;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-grow: 1;
    margin: 1rem; }
    .productDiv .productUl .productTitle {
      font-size: 1.2rem; }

.userDiv {
  margin-top: 2vh; }
  .userDiv .titleDiv {
    display: flex; }
  .userDiv .userLi {
    background-color: #f4efe1;
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1rem;
    letter-spacing: 1;
    line-height: 2rem;
    text-transform: uppercase;
    font-weight: 500;
    color: rgba(41, 41, 41, 0.8); }
  .userDiv .pendingOrder .pendingOrderDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    flex-wrap: wrap; }
    .userDiv .pendingOrder .pendingOrderDiv .pendingOrderUl {
      max-width: 45%;
      min-width: 45%; }

.basketOrder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column; }
  .basketOrder .basketOrderDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row; }
  .basketOrder h2 {
    margin-bottom: 2%; }

.admin-order {
  width: 40%;
  margin: 0px 15px;
  display: inline-block; }

.basket {
  width: 100%;
  display: flex; }
  .basket .basket-message {
    font-size: 18px;
    border-bottom: 1px solid rgba(41, 41, 41, 0.8);
    margin: 0 auto; }
  .basket .address {
    text-align: left;
    padding: 10px; }

.single-order {
  margin-top: 30px;
  border: solid 2px black;
  padding: 5px;
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column; }
  .single-order .userLi {
    align-items: center; }
  .single-order .orderLi {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column; }
    .single-order .orderLi .qtyPrice {
      display: flex;
      flex-flow: row;
      width: 100%;
      justify-content: space-around; }

.basketSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column; }
  .basketSection .basketUl {
    margin: 1% 0; }

.hide {
  display: none; }

.footer {
  display: flex;
  text-align: center;
  width: 75%;
  margin-left: 12.5vw;
  margin-top: 1rem;
  background-color: #f4efe1; }
  .footer div {
    display: block;
    justify-content: center;
    flex: 1 1 0;
    margin: 1rem; }

.userLi {
  display: flex;
  justify-content: space-between; }
  .userLi .removeForm {
    display: inline-flex;
    align-items: center; }

.basket-option {
  text-align: left;
  font-size: 8px;
  width: 150px; }
  .basket-option h5 {
    font-weight: 900; }
  .basket-option .option-group {
    display: inline-block; }
    .basket-option .option-group li {
      height: 11px; }

.combo-order-page {
  text-align: left;
  padding: 10px; }
  .combo-order-page h1 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold; }
  .combo-order-page .option-group-outer {
    display: flex;
    justify-content: center;
    flex-flow: row;
    flex-wrap: wrap; }
    .combo-order-page .option-group-outer .option-group {
      margin: 10px 10px;
      padding: 5px;
      border: 1px solid #00C853; }
  .combo-order-page #combo-summary {
    display: flex;
    justify-content: center;
    flex-flow: column;
    flex-wrap: wrap;
    align-items: center; }
    .combo-order-page #combo-summary .selected-group-outer {
      display: flex;
      flex-flow: row;
      justify-content: center;
      margin: 20px 0; }
      .combo-order-page #combo-summary .selected-group-outer .selected-group {
        margin: 10px; }
      .combo-order-page #combo-summary .selected-group-outer .mains {
        order: 1; }
      .combo-order-page #combo-summary .selected-group-outer .salads {
        order: 2; }
      .combo-order-page #combo-summary .selected-group-outer .desserts {
        order: 3; }
