html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(41, 41, 41, 0.004); }

body .masters_homepage {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 2rem 0; }

.mainNav {
  text-align: center;
  border: 1px solid #0288D1;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 1;
  line-height: 2rem;
  text-transform: uppercase;
  font-weight: 500;
  color: rgba(41, 41, 41, 0.8); }
  .mainNav li {
    display: inline-block;
    padding: 0 0.75rem; }

.asideNav {
  border: 1px solid #0288D1;
  text-align: center;
  position: fixed; }
  .asideNav nav ul li {
    display: block;
    text-align: center;
    margin-top: 3rem;
    line-height: 3rem; }

aside {
  border: 1px solid #C62828;
  display: inline-block;
  height: 100vh;
  width: 12vw;
  margin-top: 15px;
  vertical-align: top;
  overflow: scroll;
  position: fixed; }
  aside nav li {
    display: block;
    text-align: center; }

main {
  border: 1px solid #00C853;
  display: inline-block;
  margin-top: 15px;
  margin-left: 12.5vw;
  width: 75%;
  height: 100vh;
  text-align: center; }

.menuBlocks {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 1;
  width: 75%;
  height: 100%;
  border: 1px solid #C62828;
  margin-top: 15px;
  margin-left: 12.5vw;
  text-align: center; }
  .menuBlocks p {
    width: 25vw;
    height: 35vh;
    display: inline-block;
    border: 1px solid #00C853;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    display: inline-flex; }

.userDiv {
  display: flex;
  margin-left: 12.5vw; }
  .userDiv .userLi {
    width: 75vw;
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 2rem;
    letter-spacing: 1;
    line-height: 2rem;
    text-transform: uppercase;
    font-weight: 500;
    color: rgba(41, 41, 41, 0.8); }
    .userDiv .userLi .titleOrder {
      display: inline-block; }
    .userDiv .userLi .priceOrder {
      float: right;
      display: inline-block; }
