.combo-order-page {
  text-align: left;
  padding: 10px;

  h1 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .horizontalLi {
    li {
      display: inline-block;
    }
    .space {
      margin-left: 5px;
    }
  }

  .option-group-outer {
    display: flex;
    justify-content: center;
    flex-flow: row;
    flex-wrap: wrap;
    .option-group {
      margin: 10px 10px;
      padding: 5px;
      border: $border-dev-green;
    }
  }
  #combo-summary {
    display: flex;
    justify-content: center;
    flex-flow: column;
    flex-wrap: wrap;
    align-items: center;
    .selected-group-outer {
      display: flex;
      flex-flow: row;
      justify-content: center;
      margin: 20px 0;
      .selected-group {
        margin: 10px;
      }
      .mains {
        order: 1;
      }
      .salads{
        order: 2;
      }
      .desserts {
        order: 3;
      }
    }
  }
}
