.footer {
  display: flex;
  text-align: center;
  width: 75%;
  margin-left: 12.5vw;
  margin-top: 1rem;
  background-color: rgb(244,239,225);
  div {
    display: block;
    justify-content: center;
    flex: 1 1 0;
    margin: 1rem;
  }
}
