.menuBlocks {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 1;
  border: $border-dev-red;
  margin-top: 15px;
  text-align: center;
  background-color: $creme;
    p {
    width: 25vw;
    height: 35vh;
    display: inline-block;
    border: $border-dev-green;
    @include flex;
    display: inline-flex;
  }
}
