.userLi {
  display: flex;
  justify-content: space-between;
  .removeForm {
    display: inline-flex;
    align-items: center;
  }
}


.basket-option {
  text-align: left;
  font-size: 8px;
  width: 150px;

  h5 {
    font-weight: 900;
  }

  .option-group {
    display: inline-block;
    li {
      height: 11px;
    }
  }
}
