.userDiv {
  // display: flex;
  margin-top: 2vh;
  .titleDiv {
    width: 100vw;
    display: flex;
  }
  .userLi {
    background-color: $creme;
    text-align: center;
    @include font-properties($letter-spacing: 1, $font-size: 1rem, $line-height: 2rem);
    // padding: 1rem;
    // border-bottom: 1px solid $black;
    .titleOrder {
      display: inline-block;
      }
    .priceOrder {
      float: right;
      display: inline-block;
    }
  }
}
.userDiv {
  display: flex;
  .order-total {
    display: flex;
    justify-content: flex-end;
    @include font-properties($letter-spacing: 1, $font-size: 1rem, $line-height: 2rem);
    // height: 8vh;
    border-top: 1px solid $black;
    border-bottom: 2px solid $black;
  }
}
.admin-order {
  width: 40%;
  margin: 0px 15px;
  display: inline-block;
}
.basket {
  .basket-message {
    font-size: 18px;
    border-bottom: 1px solid $black;
    margin: 0 auto;
  }
  width: 100%;
  display: flex;
  .address {
    text-align: left;
    padding: 10px;
  }
}

.single-order {
  margin-top: 30px;
  border: solid 2px black;
  padding: 5px;
}

.hide {
  display: none;
}
