<!-- <h1>Create Product</h1>
<section ng-controller="EditController as edit">
  <form>
    <div>Title: <input ng-model="edit.products.title" type="text" placeholder="Product Title"></div>
    <div>Price: <input ng-model="edit.products.price" type="number" placeholder="Product Price"></div>
    <div>Type: <select
            ng-model="edit.defaultType"
            ng-options="type for type in edit.typeOptions"
            type="text"
            selected
            placeholder="Product Type">
            {{type}}
    </select></div>
    <div>Category: <select
            ng-model="cat"
            ng-options="cat for cat in edit.categoryOptions"
            type="text"
            placeholder="Product Category">
            {{cat}}
    </select></div>
    <div>Sub Category: <input ng-model="edit.products.subCategory" type="text" placeholder="Product Sub Category"></div>
    <div>Combo Options: <input ng-model="edit.products.comboOptions" type="text" placeholder="Product Combo Options"></div>
    <div>Description: <input ng-model="edit.products.description" type="text" placeholder="Product Description"></div>
    <div>Options: <input ng-model="edit.products.options" type="text" placeholder="Product Options"></div>
    <button type="submit" ng-click="edit.createProduct(products)">Create Product</button>
  </form>
</section> -->

<create></create>
