<h1>Edit Single Product</h1>
<section ng-controller="EditController as edit">
  <div ng-init="product.getOneProduct()">
    <strong class="adminEditStrong">Title: </strong><input ng-model="product.oneProduct.title">
    <ul ng-repeat="option in product.oneProduct.options">
      <li>
        <strong class="adminEditStrong">Options: </strong><input ng-model="option">
      </li>
    </ul>
    <strong class="adminEditStrong">Price: </strong><input ng-model="product.oneProduct.price">
    <button ng-click="edit.updateProduct(product.oneProduct)" type="button">Update</button>
  </div>
</section>
