<section>
  <div ng-init="product.getProductBySubCategory('product.cat', 'product.sub_category')" class="userDiv">
    <div class="titleDiv productDiv">
      <ul ng-repeat="prod in product.subCat | orderBy: ['price', -'title']" class="productUl">
        <li class="productTitle">
          <a ui-sref="adminSingleProduct({id: prod._id })"><strong class="adminEditStrong">Title: </strong>{{prod.title}}</a>
        </li>
        <li ng-repeat="option in prod.options" class="productDesc">
          <strong class="adminEditStrong" ng-if="option">Options: </strong>{{option}}
        </li>
        <li class="productPrice">
          <p><strong class="adminEditStrong">Price: </strong>{{prod.price | price}} per person</p>
        </li>
      </ul>
    </div>
  </div>
</section>
