<section ng-controller="ProductController as product">
  <div ng-init="product.getProductByCategory('breakfast')" class="breakfastMenuBlocks">
    <div ui-sref="sub_category({category:'breakfast', sub_category:'croissant'})" class="breakfastDiv">Croissant</div>
    <div ui-sref="sub_category({category:'breakfast', sub_category:'muffin'})" class="breakfastDiv">muffin</div>
    <div ui-sref="sub_category({category:'breakfast', sub_category:'danish'})" class="breakfastDiv">danish</div>
    <div ui-sref="sub_category({category:'breakfast', sub_category:'donut'})" class="breakfastDiv">donut</div>
    <div ui-sref="sub_category({category:'breakfast', sub_category:'bagel'})" class="breakfastDiv">bagel</div>
    <div ui-sref="sub_category({category:'breakfast', sub_category:'roll'})" class="breakfastDiv">roll</div>
    <div ui-sref="sub_category({category:'breakfast', sub_category:'baguette'})" class="breakfastDiv">baguette</div>
    <div ui-sref="sub_category({category:'breakfast', sub_category:'bap'})" class="breakfastDiv">bap</div>
    <div ui-sref="sub_category({category:'breakfast', sub_category:'yoghurt'})" class="breakfastDiv">yoghurt</div>
    <div ui-sref="sub_category({category:'breakfast', sub_category:'fruit'})" class="breakfastDiv">fruit</div>
    <div ui-sref="sub_category({category:'breakfast', sub_category:'breakfastDrinks'})" class="breakfastDiv">breakfastDrinks</div>
  </div>
</section>
