<section ng-click="product.breakfastNavShow = true">
  <div ng-init="product.getProductByCategory('breakfast')" class="mainMenuDiv">
    <div ui-sref="sub_category({category:'breakfast', sub_category:'croissant'})" class="menuDiv">Croissant</div>
    <div ui-sref="sub_category({category:'breakfast', sub_category:'muffin'})" class="menuDiv">muffin</div>
    <div ui-sref="sub_category({category:'breakfast', sub_category:'danish'})" class="menuDiv">danish</div>
    <div ui-sref="sub_category({category:'breakfast', sub_category:'donut'})" class="menuDiv">donut</div>
    <div ui-sref="sub_category({category:'breakfast', sub_category:'bagel'})" class="menuDiv">bagel</div>
    <div ui-sref="sub_category({category:'breakfast', sub_category:'roll'})" class="menuDiv">roll</div>
    <div ui-sref="sub_category({category:'breakfast', sub_category:'baguette'})" class="menuDiv">baguette</div>
    <div ui-sref="sub_category({category:'breakfast', sub_category:'bap'})" class="menuDiv">bap</div>
    <div ui-sref="sub_category({category:'breakfast', sub_category:'yoghurt'})" class="menuDiv">yoghurt</div>
    <div ui-sref="sub_category({category:'breakfast', sub_category:'fruit'})" class="menuDiv">fruit</div>
    <div ui-sref="sub_category({category:'breakfast', sub_category:'breakfastDrinks'})" class="menuDiv">breakfastDrinks</div>
  </div>
</section>
