<h1>Lunch</h1>
<section ng-click="product.lunchNavShow = true">
  <div class="mainMenuDiv">
    <div ui-sref="sub_category({category:'lunch', sub_category:'platter'})" class="menuDiv">platter</div>
    <div ui-sref="sub_category({category:'lunch', sub_category:'setLunch'})" class="menuDiv">setLunch</div>
    <div ui-sref="sub_category({category:'lunch', sub_category:'finger'})" class="menuDiv">finger</div>
    <div ui-sref="sub_category({category:'lunch', sub_category:'coldForkBuffet'})" class="menuDiv">coldForkBuffet</div>
    <div ui-sref="sub_category({category:'lunch', sub_category:'coldFork'})" class="menuDiv">coldFork</div>
    <div ui-sref="sub_category({category:'lunch', sub_category:'hotFork'})" class="menuDiv">hotFork</div>
    <div ui-sref="sub_category({category:'lunch', sub_category:'lunchDrinks'})" class="menuDiv">lunchDrinks</div>
    <div ui-sref="sub_category({category:'lunch', sub_category:'packedLunch'})" class="menuDiv">packedLunch</div>
  </div>
</section>
