<h1>Single Product</h1>
<section>
  <div ng-init="product.getOneProduct()">
    {{product.oneProduct.title}}
    <ul ng-repeat="desc in product.oneProduct.description">
      <li>
        {{desc}}
      </li>
    </ul>
  </div>
  <form ng-controller="OrderController as order" ng-submit="order.addToOrder(product.oneProduct._id, order.addToOrder.order.products.qty)">
    <div>
      <input ng-model="order.newOrder" type="submit" value="add to order">
      <input ng-model="order.addToOrder.order.products.qty" type="number" min="1">
    </div>
  </form>
</section>
