<h1>Single Product</h1>
<section ng-controller="ProductController as product">
  <div ng-init="product.getOneProduct()">
    {{product.oneProduct.title}}
    <ul ng-repeat="desc in product.oneProduct.description">
      <li>
        {{desc}}
      </li>
    </ul>
  </div>
  <!-- <form ng-controller="OrderController as order" ng-submit="product.addToOrder()">
    <div>
      <label for="new-duck-name">Name:</label>
      <input
        type="text"
        placeholder="Jack the ripper..."
        ng-model="product.newOrder.name">
    </div>
    <div>
      <input type="submit" value="add to order" ng-model="product.newOrder">
    </div>

  </form> -->
</section>
<div ng-controller="OrderController as order">
  <p>{{order}}</p>
</div>
