<section ng-controller="OrderController as orderCTRL" ng-if="basket.items.length">

  <!-- List out items in order -->
  <li ng-repeat="item in basket.items" class="userLi">

    <form ng-submit="orderCTRL.removeProduct(item.product._id)" class="removeForm">
      <input type="submit" value="X" class="removeInput">
    </form>

    <form ng-submit="orderCTRL.editOrder(basket.items)">

      <p class="titleOrder">{{item.product.title}}</p>
      qty:
      <input type="number" ng-model="item.qty" min="1">
      <input type="submit" value="edit order">
    </form>

    <p class="priceOrder">{{item.product.price * item.qty | price}}</p>
  </li>

  <b ng-if="thisOrder.has_been_submitted">Status: {{ basket.has_been_processed ? "Awaiting Collection" : "Being Prepaired!"}}</b>
  <b class="order-total userLi">£ {{ basket.total }} </b>

  <section ng-if="basket.items.length">
    <button ng-click="placeOrder()">
      Submit Order
    </button>

    <div id="order-submit" ng-if="showNotes">

      <textarea
        placeholder="Alergic to nuts..."
        name="notes"
        cols="60"
        rows="7"
        ng-model="basket.notes">
      </textarea>

      Delivery Address:
      <div class="address-select">
        <div class="address" ng-repeat="address in addresses track by $index">
          <b>{{ $index + 1 }}. - </b>
          <span>{{address.line_one}}, </span>
          <span>{{address.line_two}}, </span>
          <span>{{address.line_three}}, </span>
          <span>{{address.post_code}}</span>
        </div>
      </div>

      <button ng-click="toggleNewAddressForm()">{{ showNewAddress ? '- Hide Form' : '+ Add Address' }}</button>

      <div class="new-address" ng-if="showNewAddress">
        <h2>Add Address</h2>
        <form ng-submit="addAddress($event)">
          <input type="text" name="line_one" ng-model="newAddress.line_one" placeholder="Address line 1">
          <input type="text" name="line_two" ng-model="newAddress.line_two" placeholder="Address line 2">
          <input type="text" name="line_three" ng-model="newAddress.line_three" placeholder="Address line 2">
          <input type="text" name="post_code" ng-model="newAddress.post_code" placeholder="post code">
          <input ng-disabled="enableAddressSubmit()" type="submit" value="submit">
        </form>
      </div>

      <button ng-click="orderCTRL.submitOrder()">Confirm</button>
    </div>

  </section>

</section>

<b ng-if="!basket.items.length" class="basket-message"> Your basket is empty </b>
