<section class="combo-order-page">

  <div ng-init="product.getProductBySubCategory('product.cat', 'product.sub_category')" >
    <div class="horizontalLi">
      <h1>Combo Order Page</h1>
      <ul ng-repeat="product in product.subCat">
        <li>
          <b>{{ product.title }} {{ product.price | price }}+VAT per head</b>
        </li>
        <ul class="horizontalLi">
          Choose
          <li ng-repeat="combo in product.combo_options" class="space">
            <p class="horizontalLi">{{combo.meta.combo_dish_count}} {{combo.name}} </p>
          </li>
          from the list below. If you are ordering for ten people or more then please choose an additional
          <li ng-repeat="combo in product.combo_options">
            <p ng-if="combo.meta.bouns_dish == 'true'">{{ combo.name }}</p>
          </li>
        </ul>
      </ul>
  </div>

    <div ng-init="numberOfPeople = 2; product.comboOrder = {}">
      <label>
        Number Of People:
        <input type="number" ng-model="numberOfPeople">
      </label>
    </div>

    <div class="option-group-outer">
      <div class="option-group"
           ng-repeat="group in product.subCat[0].combo_options track by $index ">

          <div class="productTitle">
            <h1>{{group.name}}</h1>
          </div>

          <meal-options dish-options="group.options"
                        meta="group.meta"
                        people-qty="numberOfPeople"
                        order="product.comboOrder[group.name]"
                        selection-complete="product.comboStatus[$index]">
          </meal-options>

      </div>
    </div>

    <br>
    <div id="combo-summary">
      <p ng-if="product.showTotal">You have selected: </p>
    <div class="selected-group-outer">
      <div ng-repeat="(orderGroup, items) in product.comboOrder" class="selected-group {{orderGroup}}">
        <br>
        <h1 ng-if="!items.length == 0">{{ orderGroup }}</h1>
        <ol ng-init="product.showTotal = true">
          <li ng-repeat="dish in items track by $index"> {{$index + 1}}. {{ dish }} </li>
        </ol>
      </div>
      <br><br>
    </div>
      <p ng-if="product.showTotal"> Total: {{ numberOfPeople * product.subCat[0].price | price}} </p>

    <combo-order-button
      ng-if="product.activateComboOrderButton()"
      dish-options="product.comboOrder"
      people-qty="numberOfPeople"
      product-id="product.subCat[0]._id"
      title="product.subCat[0].title">
    </combo-order-button>


  </div>



</section>
