<section ng-controller="ProductController as product">
  <div ng-init="product.getProductBySubCategory('product.cat', 'product.sub_category')" class="userDiv">
    <div class="titleDiv">
      <ul ng-repeat="product in product.subCat">
        <li >
          <p class="titleOrder">{{product.title}}</p>
          <p class="priceOrder">{{product.price | price}}</p>
        </li>
        <b class="order-total userLi">£ {{ user.getOrderTotal(orders.items) }} </b>
      </ul>
    </div>
  </div>
</section>
