<li class="single-order">

  <ul>
    <li ng-repeat="item in order.items" class="userLi orderLi">

      <p class="titleOrder">{{item.product.title}}</p>
      <div class="qtyPrice">
      <p class="qtyOrder">qty: {{item.qty }} </p>

      <p class="priceOrder">{{item.product.price * item.qty | price}}</p>
    </div>

    <div ng-controller="OrderController as order">
      <form ng-submit="order.addToOrder(item.product._id, item.qty)">
          <input type="submit" value="re-order" ng-model="order.newOrder">
      </form>
    </div>

    </li>
  </ul>

  <span><strong>Address: </strong>{{ order.delivery_address }}</span>
  <br>
  <br>
  <span><strong>Time Slot: </strong>{{ order.time_slot }}</span>
  <br>
  <br>
  <p ng-if="order.has_been_submitted">Status: {{ order.has_been_processed ? "Complete" : "Being Prepaired!"}}</p>

  <p class="order-total userLi">£ {{ order.total }} </p>


</li>
