<li class="single-order">

  <ul>
    <li ng-repeat="item in order.items" class="userLi">

      <p class="titleOrder">{{item.product.title}}</p>
      <b>qty: {{item.qty }} </b>

      <p class="priceOrder">{{item.product.price * item.qty | price}}</p>
    </li>
  </ul>

  <span><strong>Address: </strong>{{ order.delivery_address }}</span>
  <br>
  <br>
  <span><strong>Time Slot: </strong>{{ order.time_slot }}</span>
  <br>
  <br>
  <p ng-if="order.has_been_submitted">Status: {{ order.has_been_processed ? "Complete" : "Being Prepaired!"}}</p>

  <p class="order-total userLi">£ {{ order.total }} </p>


</li>
