<li class="single-order">

      <div>Title:        <input type="text" ng-model="product.products.title"></div>
      <div>Price:        <input type="number" ng-model="product.products.price"></div>
      <div>Type: <select
              ng-model="defaultType"
              ng-options="type for type in typeOptions"
              type="text"
              selected>
              {{type}}
      </select></div>
      <div>Category: <select
              ng-model="selectedCategory"
              ng-options="cat for cat in categoryOptions"
              type="text"
              selected>
              {{cat}}
      </select></div>
      <div>Sub Category: <input type="text" ng-model="product.products.subCategory"></div>
      <div>Description:  <input type="text" ng-model="product.products.description"></div>

      Options:
      <fieldset data-ng-repeat="option in options track by $index">
        <input type="text" ng-model="option.name[$index]">
        <button type="button" ng-click="removeOption()">X</button>
        {{option.name[$index]}}
      </fieldset>
      <button type="button" ng-click="addNewOption()">+</button>

      <!-- <ul ng-model="product.products.options">Options:
        <li ng-repeat="option in options">
          <input type="text" ng-model="option.value">
          <button ng-click="addOptions()">+</button>
        </li>
      </ul> -->


    <div>
      <form ng-submit="createProduct(product.products.title, product.products.price, product.products.type, product.products.category, product.products.subCategory, product.products.description, product.products.options)">
          <input type="submit" value="create">
      </form>
    </div>

</li>
